<div class='nested-fields'>

  <div class="field_master_top">
    <b><%= f.label :ecochronological_unit %></b>
  </div>

  <%= render  'ecochronological_units/ecochronological_unit_fields', f: f %>

  <%= fa_icon "minus" %> <%= link_to_remove_association "remove ecochronological_unit", f %>

  <hr>

</div>
