<h1>Editing Ecochronological Unit</h1>

<%= render 'form', ecochronological_unit: @ecochronological_unit %>

<%= link_to 'Show', @ecochronological_unit %> |
<%= link_to 'Back', ecochronological_units_path %>
