<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @ecochronological_unit %>
  <h1>New ecochronological unit</h1>

  <%= render 'form', ecochronological_unit: @ecochronological_unit %>
</div>
