<div class="container">

  <h1>Archaeological objects</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>ID</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @arch_objects.each do |arch_object| %>
        <tr>
          <td><%= link_to arch_object.id, arch_object %></td>
          <td><%= render 'shared/action_buttons_compact', i: arch_object %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New archaeological object', new_arch_object_path, class: 'btn btn-secondary' %>
</div>
