<div class="container">
  <%# render 'shared/action_breadcrumbs', i: i %>

  <h1>Archaeological object</h1>

  <p>ID: <%= @arch_object.id %></p>

  <%= render 'shared/action_buttons', i: @arch_object %>
</div>
