<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Measurement</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lab.-Nr.</th>
      <td><%= c14.lab_identifier %></td>
    </tr>
    <tr>
      <td>Laboratory Name</th>
      <td><%=c14.c14_lab.name if c14.c14_lab.present?%></td>
    </tr>
  </tbody>
</table>
