<div class="container my-5">

  <h1><%= C14.label.pluralize.humanize %></h1>

  <%= render "table", c14s: @c14s %>

  <%== pagy_bootstrap_nav(@pagy) %>

  <% if can? :create, C14 %>
    <%= link_to 'New C14 measurement', new_c14_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
