<% content_for :title, "Acknowledgements" %>

<% content_for :page_styles do %>
  <style>
      .article-hero {
          height: 20rem;
          background: none !important;
      }

      .article-hero::before {
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          z-index: -1;
          background-image: url('<%= asset_path("acknowledgement_hero.jpg") %>');
          background-size: cover;
          background-position: center center;
      }
  </style>
<% end %>

<header class="bg-light article-hero d-flex flex-column justify-content-end position-relative">
  <div class="container my-3">
    <h1 class="display-3 text-light" style="text-shadow: var(--bs-dark) 0 0 1rem;">
      Acknowledgements
    </h1>
  </div>
</header>

<div class="container my-5">
  <%= @acknowledgements_html.html_safe %>
</div>

<footer class="bg-light">
  <div class="container my-5 text-muted small">
    <p>Cover photo: Phil Aicken / Unsplash</p>
  </div>
</footer>
