<div class="container">
  <%= render 'shared/notice' %>

  <h1>Samples</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>ID</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @samples.each do |sample| %>
        <tr>
          <td><%= link_to sample.id, sample %></td>
          <td><%= render 'shared/action_buttons_compact', i: sample %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New sample', new_sample_path, class: 'btn btn-secondary' %>
</div>
