<% if taxon.blank? %>
  <%= na_value %>
<% else %>
  <% if taxon.gbif_id.blank? %>
    <span class="text-muted"><%= taxon.name %></span>
    <%= fa_icon "exclamation-circle",
      class: "text-warning",
      data: { "bs-toggle": "tooltip", controller: "tooltips" },
      title: "Taxon not matched to backbone taxonomy"
    %>
  <% else %>
    <i><%= taxon.usage.canonical_name %></i>
  <% end %>
<% end %>
