<%= render "shared/remote_modal", title: "Edit taxon" do %>
  <% if @taxon.samples.count > 1 %>
    <div class="alert alert-warning small" role="alert">
      <%= bs_icon "exclamation-circle", title: "Warning" %>
      Editing this taxon will affect <strong><%= @taxon.samples.count %></strong> samples.
    </div>
  <% end %>
  <%= render "form" %>
<% end %>
