<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @species %>

  <p>
  <strong>Name:</strong>
  <%= @species.name %>
  </p>

  <%= render 'shared/action_buttons', i: @species %>
</div>
