<p>This page lists bibiliographic references with a label of longer than <%= Reference::MAX_SHORT_REF_LENGTH %> characters.</p>
<p>Labels are primarily used to link to the bibliographic reference from other views and should generally resemble a Harvard-style citation (e.g. "Hinz 2021", "Roe et al. 2025") or another human-readable short version of the reference (e.g. "RADON", "ANU radiocarbon date list V").</p>
<p>Suggested short labels are generated from BibTeX, where available.</p>
