# --- RAILS GENERIC ---
# adapted from https://github.com/github/gitignore/blob/main/Rails.gitignore

*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore secrets
config/initializers/secret_token.rb
config/master.key

# Ignore dotenv, dotenv-rails
.env
.env*.local

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage
/public/uploads



# --- XRONOS ---

# macOS
*.DS_Store

# Dia
*.dia~
*.dia.autosave

# MySQL Workbench
*.mwb.bak

# RubyMine
.idea/*

# R
.Rhistory
.RData

# test coverage
coverage

# build calibrator yourself
vendor/calibrator/bin/calibrator*
vendor/calibrator/build/

# sitemaps
public/sitemap.xml.gz
public/sitemaps/*
!public/sitemaps/.keep

/app/assets/builds/*
!/app/assets/builds/.keep

/node_modules
