<% content_for :title, "Issues – Samples" %>
<% if params[:issue] == "unknown_taxon" %>
  <% content_for :help do %>
    <p>This table lists biological taxa in XRONOS that are not currently matched to the <a href="https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c">GBIF Backbone Taxonomy</a>. Matching scientific names are suggested using the <a href="https://www.gbif.org/developer/species">GBIF Species API</a>.</p>
  <% end %>
<% end %>

<h2 class="border-bottom">Taxons</h2>

<%= render "issues/nav", model: Taxon, base_path: issues_taxons_path %>

<turbo-frame id="issues-taxons-table">
  <%=
    case params[:issue]
    when "unknown_taxon"
      render "issues/taxons/unknown_taxon/table", taxons: @taxons 
    else
      render "table", taxons: @taxons
    end
  %>
<%== pagy_bootstrap_nav(@pagy) %>
</turbo-frame>
