<div class="container">

  <h1>Site types</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @site_types.each do |site_type| %>
        <tr>
          <td><%= link_to site_type.name, site_type %></td>
          <td><%= site_type.description %></td>
          <td><%= render 'shared/action_buttons_compact', i: site_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New site type', new_site_type_path, class: 'btn btn-secondary' %>
</div>
