<% if article.published? %>
  <span class="text-success">
    <%= bs_icon "check-lg" %> 
    Published at <%= article.published_at %>
  </span>
<% elsif article.scheduled? %>
  <span class="text-warning">
    <%= bs_icon "clock" %>
    Scheduled to be published at <%= article.published_at %>
  </span>
<% else %>
  <span class="text-muted">Draft</span>
<% end %>
