<header>
  <div class="container my-5 d-flex flex-row">
    <div>
      <h1 class="display-3">News</h1>
      <h2 class="h2 text-muted">From the XRONOS team</h2>
    </div>
    <% if can? :manage, Article %>
      <div class="ms-auto">
        <%= link_to 'Manage', "/articles", class: 'btn btn-outline-primary' %>
      </div>
    <% end %>
  </div>
</header>

<% unless @articles.blank? %>
  <div class="bg-light">
    <div class="container my-5">
      <% @articles.each do |article| %>
        <%= render "card", article: article %>
      <% end %>

      <% unless @pagy.pages < 2 %>
        <%== pagy_bootstrap_nav(@pagy) %>
      <% end %>
    </div>
  </div>
<% end %>
