<ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="<%= admin_articles_path %>">
      <%= bs_icon "bookmark" %> Articles
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_users_path %>">
      <%= bs_icon "person" %> Users
    </a>
  </li>

</ul>
