<% content_for :title, "Issue: UNKNOWN_TAXON" %>
<% content_for :meta_description, "List of biological taxa in XRONOS that are not currently matched to the GBIF Backbone Taxonomy." %>

<div class="container my-5">

  <h1>Issue: UNKNOWN_TAXON</h1>

  <p>This page lists biological taxa in XRONOS that are not currently matched to the <a href="https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c">GBIF Backbone Taxonomy</a>. Matching scientific names are suggested using the <a href="https://www.gbif.org/developer/species">GBIF Species API</a>.</p>

  <turbo-frame id="unknown_taxons-table">
    <%= render "table", unknown_taxons: @unknown_taxons %>
    <%== pagy_bootstrap_nav(@pagy) %>
  </turbo-frame>

</div>
