<p id="notice"><%= notice %></p>

<p>
  <strong>Taxon:</strong>
  <%= @issues_unknown_taxon.taxon_id %>
</p>

<%= link_to 'Edit', edit_issues_unknown_taxon_path(@issues_unknown_taxon) %> |
<%= link_to 'Back', issues_unknown_taxons_path %>
