<div class="container">

  <h1>Labs</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @labs.each do |lab| %>
        <tr>
          <td><%= link_to lab.name, lab %></td>
          <td><%= lab.active %></td>
          <td><%= render 'shared/action_buttons_compact', i: lab %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Lab', new_lab_path, class: 'btn btn-secondary' %>
</div>
