<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @lab %>

  <p>
  <strong>Name:</strong>
  <%= @lab.name %>
  </p>

  <p>
  <strong>Active:</strong>
  <%= @lab.active %>
  </p>

  <%= render 'shared/action_buttons', i: @lab %>
</div>
