<% content_for :title, @c14_lab.name %>

<header id="c14Lab-header" class="bg-primary text-light">
  <div class="container my-5">
    <h1 class="display-1"><%= @c14_lab.name %></h1>
    <h2 class="display-6">Radiocarbon lab (<%= @c14_lab.active ? "active" : "defunct" %>)</h2>
  </div>
</header>

