<% if user.user_profile.present? %>
  <%= link_to user.user_profile.full_name, contributor_path(user.user_profile) -%>
<% else %>
  <span class="text-muted"
        data-bs-toggle="tooltip"
        data-controller="tooltips"
        title="This user has not supplied further details about themselves">
    XRONOS user #<%= user.id %>
  </span>
<% end %>
