<nav aria-label="breadcrumb ">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to i.class.name.pluralize, i.class %></li>
    <% if action_name == 'new' %>
      <li class="breadcrumb-item active" aria-current="page">New</li>
    <% elsif action_name == 'show' %>
      <li class="breadcrumb-item active" aria-current="page"><%= i.name %>
    <% elsif action_name == 'edit' %>
      <li class="breadcrumb-item"><%= link_to i.name, i %></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    <% end %>
  </ol>
</nav>
