<div class="btn-group" role="group" aria-label="Actions for this record">
  <%= 
    if can? :edit, i
      link_to edit_polymorphic_path(i), class: 'btn btn-secondary' do
        fa_icon 'pencil', text: 'Edit' 
      end
    end
  %>
  <%= 
    if can? :delete, i
      link_to i, method: :delete, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do
        fa_icon 'trash', text: 'Delete'
      end
    end 
  %>
</div>
