<div class="btn-group" role="group" aria-label="Actions for this record">
  <%= 
    if can? :edit, i
      link_to edit_polymorphic_path(i), class: 'btn btn-secondary btn-sm', 
        data: { turbo_frame: "remote_modal" } do
        fa_icon 'pencil', title: 'Edit' 
      end
    end
  %>
  <%= 
    if can? :delete, i
      link_to i, class: 'btn btn-danger btn-sm', 
        data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this record?' } do
        fa_icon 'trash', title: 'Delete'
      end
    end 
  %>
</div>
