<div>
  <small class="text-muted">

    Record created in XRONOS on <%= record.created_at %>.
    Last updated on <%= record.updated_at %>.
    <% if record.versions.any? %>
      <a href="#changelog">See changelog for details</a>.
    <% end %>

    <% if record.versions.any? %>
      <br>Contributors:
      <% contributors = record.versions.collect(&:whodunnit).uniq %>
      <% if contributors.any? %>
        <%= render partial: "users/user", collection: User.find(contributors),
          spacer_template: "comma" || na_value %>
      <% else %>
        <%= na_value %>
      <% end %>
    <% end %>

  </small>
</div>
