<%= turbo_frame_tag "remote_modal" do %>

  <div class="modal fade" 
       id="remoteModal" 
       data-bs-backdrop="static" 
       data-bs-keyboard="false" 
       tabindex="-1" 
       role="dialog" 
       aria-labelledby="remoteModal-title" 
       aria-hidden="true" 
       data-controller="remote-modal" 
       data-action="turbo:before-render@document->remote-modal#hideBeforeRender">

       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">

           <div class="modal-header" id="remoteModal-header">
             <h1 id="remoteModal-title" class="modal-title h4"><%= title %></h1>
           </div>

           <div class="modal-body" id="remoteModal-body">
             <%= yield %>
           </div>

           <div class="modal-footer" id="remoteModal-footer">
             <%= yield :buttons %>
           </div>

         </div>
       </div>

  </div>

<% end %>
