<h1>Measurements</h1>
<hr>

<table id="selected_measurements-datatable" class="dataTable compact" data-source="<%= root_path(format: :json) %>" style="width: 100%">
	<thead>
		<tr>
			<th>measurements_id</th>
			<th>measurements_labnr</th>
			<th>measurements_year</th>
			<th>site_name</th>
			<th>site_lat</th>
			<th>site_lng</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

