<h1>Measurements</h1>
<hr>

<table id="selected_measurements-datatable" class="dataTable compact" data-source="<%= root_path(format: :json) %>" style="width: 100%">
	<thead>
		<tr>
      <th>measurement_id</th>
			<th>labnr</th>
			<th>year</th>
			<th>site</th>
      <th>site_type</th>
			<th>lat</th>
			<th>lng</th>
      <th>country</th>
      <th>feature</th>
      <th>material</th>
      <th>species</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

