<div class='nested-fields'>

  <div class="field_master_top">
    <b><%= f.label :typochronological_unit %></b>
  </div>

  <%= render  'typochronological_units/typochronological_unit_fields', f: f %>

  <%= fa_icon "minus" %> <%= link_to_remove_association "remove typochronological_unit", f %>

  <hr>

</div>
