<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @typochronological_unit %>
  <h1>Edit typochronological unit</h1>

  <%= render 'form', typochronological_unit: @typochronological_unit %>
</div>
