<h1>Editing Typochronological Unit</h1>

<%= render 'form', typochronological_unit: @typochronological_unit %>

<%= link_to 'Show', @typochronological_unit %> |
<%= link_to 'Back', typochronological_units_path %>
