<h1>About</h1>

<hr>

<p>
  Xronos is an Open Access online database for absolute chronological archaeological information. 
  Designed in the spirit of Open Science, Xronos is the first overarching database that compiles, 
  manages and provides 14C- and dendrochronological dates for scholars worldwide. At the same time
  the privacy of the contributors and their full control over their data disclosers are guaranteed 
  by licensing.
</p>

<p>
  Research on the past today can no longer gain knowledge about human-environmental processes like social, 
  cultural, economic and climatic transformations without scientific temporal information. Therefore, Xronos
  provides users not only to store and share their data but also aims at making large amounts of data accessible
  for data driven powerful methods like the modelling time series and chronologies.
</p>

<p>
  While there are no spatial or temporal restrictions, the database currently comprises datings and corresponding
  metadata of Prehistoric Europe form the Neolithic as well as Bronze and Early Iron Ages mainly. 
  Search options allow the selection of dates based on time by BCE an BP scales, map- and variable-based spatial 
  ones from Counties to archaeological structure feature types but also further metadata like dating methods, 
  sample materials etc. Dendro-data is currently only complied in the form of fell-phases, with the prospect 
  of collecting individual measurements in the future. For 14C-dates online single and summed calibrations are
  possible, while further analytical functions shall be included later on.
</p>

<p>
  The data and related information were taken from the literature cited in each case, as well as already existing 
  other databases. Data contributions are listed here. If you would like to contribute your own data or help us 
  to improve Xronos we would be grateful.
</p>

<hr>

<h2>News</h2>

<p>
  You can check out the latest information and updates on our <a href="https://blog.xronos.ch">blog page</a>.
</p>

<hr>

<h2>Team</h2>

<p>
  XRONOS Team 2019:
  <br />
  Caroline Heitz
  <br />
  Martin Hinz
  <br />
  Clemens Schmid
</p>

<p>
  XRONOS Team 2021:
  <br />
  Joe Roe: <a href="mailto:joseph.roe@iaw.unibe.ch">joseph.roe@iaw.unibe.ch</a>
  <br />
  Martin Hinz: <a href="mailto:martin.hinz@iaw.unibe.ch">martin.hinz@iaw.unibe.ch</a>
</p>

<hr>

<h2>List of current project partners</h2>

<p>
  <a href="https://www.stadt-zuerich.ch/hbd/de/index/ueber_das_departement/organisation/gremium/denkmalpflegekommission/beat_eberschweiler.html">Beat Eberschweiler</a>, Cantonal archaeologist (director), Baudirektion, Amt für Raumentwicklung, Kanton Zürich
</p>

<p>
  <a href="https://www.14c.unibe.ch/about_us/team/lara_team/prof_dr_szidat_soenke/index_eng.html">Sönke Szidat</a>, Head of research group, LARA, Department of Chemistry and Biochemistry, Bern University
</p>

<p>
  <a href="http://p3.snf.ch/project-199868">SNSF Project 199868</a> 'Climate change, mobility and transformation processes. Human-environment interactions in (pre)historical societies of the Arctic' (Mirco Brunner)
</p>

<hr>

<h2>List of projects using XRONOS</h2>

<p>
  TimeArch – Time and Temporality in Archaeology. Approaching (Trans)formations of Settlement Communities in Prehistoric Wetland Sites.
  <br />
  Caroline Heitz, University of Bern, Institute for Archaeological Sciences, Prehistory  
</p>

<hr>

<h2>Contact</h2>

<p>
  XRONOS – Database for absolute chronological archaeological information
  <br />
  Universität Bern
  <br />
  Institut für Archäologische Wissenschaften
  <br />
  Mittelstrasse 43
  <br />
  3012 Bern
  <br />
  Switzerland
  <br />
  phone +41 31 631 58 26
</p>

<hr>

<h2>Source Code</h2>

<p>
  You can find the source code of XRONOS frontend (RubyOnRails) at our <a href="https://github.com/xronos-ch/xronos.rails">GitHub Repository</a>.
  You also might like to check out other tools related to XRONOS at the <a href="https://github.com/xronos-ch">page of our organisational account</a>.
</p>

<hr>

<h2>Disclaimer</h2>

<h3>Liability Exclusion</h3>

<p>
  The XRONOS Database for absolute chronological archaeological information at the Institute of Archaeological Sciences, 
  University of Bern stores and publishes information with all due care. However, it assumes no liability for the accuracy, 
  completeness and topicality of the information's content. The XRONOS Database reserves the right to change information 
  completely or partially, to delete information, or to withdraw the publication temporary at any time without preliminary
  announcement.
</p>

<p>
  Liability claims against the XRONOS Database with regards to material or immaterial damages caused by access, use or non-use 
  of the published information, abuse of the connection, or technical malfunction are excluded. The XRONOS Database does not 
  accept responsibility for the content of alien, meaning not located on its servers or lying outside of its sphere of influence, 
  websites which are connected to this website solely with a link.
</p>

<p>
  All offers are not-binding and without obligation. Parts of the pages or the complete publication including all 
  offers and information might be extended, changed or partly or completely deleted by the author without separate announcement.
</p>

<h3>Copyright</h3>

<p>
  The author intended not to use any copyrighted material for the publication or, if not possible, to indicate the copyright of 
  the respective object. The copyright for any material created by the author is reserved. Any duplication or use of objects such
  as images, diagrams, sounds or texts in other electronic or printed publications is not permitted without the author's agreement.
</p>

<p>
  Quoting the documents and websites with correct reference as well as linking the Xronos website is allowed explicitly.
</p>

<h3>Privacy policy</h3>

<p>
  If the opportunity for the input of personal or business data (email addresses, name, addresses) is given, the input of these 
  data takes place voluntarily. Users retain full sovereignty over their scientific data that will be fully encrypted in such a 
  way that even the database administrators have no insight into the data. Each individual user has an encrypted key-store in 
  which the public keys for individual data to which they have access are stored. Using these keys, the individual data records, 
  which are encrypted in turn, can then be decrypted and used. The “public user” is created like any other user, and the keys 
  registered for this user are automatically included for all other users. In this way it is ensured that individual users can 
  make their own data available either to individual other users or to the general public, and by accessing the database alone 
  without the corresponding keys for the key storesno access to the data can be gained, not even by the database administrators.
</p>

<p>
  Data, especially personal date deserving particular protection, which you send to the Xronos database via contact formular 
  or e-mail, will be treated strictly confidential and only used in the context, you sent it. However, please notice that 
  sending contact forms or e-mails is not secure normally and data can be intercepted by unauthorised third parties (hackers). 
  Therefore, the Xronos database recommends to send personal data deserving particular protection not via e-mail, or, if you do, 
  check beforehand whether the data is transmitted via a secured transmission protocol.
</p>

<p>
The contents of this website are protected under a 
  <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons3.0 Unported Lizenz</a>
</p>
