<h1>API</h1>

<hr>

<p>
  The data in this application can also be accessed in JSON format with direct requests to an API.
  Use the following url to access all (public) dates.
</p>

<pre>
<code>http://127.0.0.1:3000/api/v1/data</code>
</pre>

<p>
  You can also filter the data with this interface to only access the subsets relevant for you.
  With the following URL you can - for example - access only one date with the Lab Number <b>AAR-1847</b>.
</p>

<pre>
<code>http://127.0.0.1:3000/api/v1/data<b>?query_labnr=AAR-1847</b></code>
</pre>

<hr>
