<div class="container">
	<div class="row m-3">

		<div class="col">
			<h1>403 - Forbidden</h1>
			<p>You do not have the necessary permissions to access this page.</p>
			<a href="<%= root_path %>">Return to the home page</a>
  
		</div>
	</div>
</div>