<h1><%= @user_profile.full_name %></h1>

    <dl class="row gx-5">
      <dt class="col-sm-3">Email</dt>
      <dd class="col-sm-9 font-monospace text-end"><%= @user_profile.user.email %></dd>
    </dl>

  <div class="actions">
    <%= link_to 'Edit', edit_user_profile_path(@user_profile), class: "btn btn-primary" %>
    <%if current_user.admin?%>
      <%= link_to 'List all User Profiles', user_profiles_path, class: "btn btn-danger"%>
    <%end%>
  </div>
  
