<div class="field_master_top">
  <b>Editing Source Database</b>
</div>

<%= render 'form', source_database: @source_database %>

<%= link_to 'Show', @source_database %> |
<%= link_to 'Back', source_databases_path %>
