<div class="container">
  <%= render 'shared/notice' %>

  <h1>Source databases</h1>

  <table class="responsive nowrap table table-hover" id="dttb-source_databases" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead>
      <tr>
        <th data-data="name">Name</th>
        <th data-data="url">Url</th>
        <th data-data="citation">Citation</th>
        <th data-data="licence">Licence</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>

  <br>

  <%= link_to 'New source database', new_source_database_path, class: 'btn btn-secondary' %>
</div>
