<div class="field_master_top">
  <b>Editing C14 Measurement</b>
</div>

<%= render 'form', c14_measurement: @c14_measurement %>

<%= link_to 'Show', @c14_measurement %> |
<%= link_to 'Back', c14_measurements_path %>
