<p>This table lists biological taxa in XRONOS that are not currently matched to the <a href="https://www.gbif.org/dataset/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c">GBIF Backbone Taxonomy</a>. Matching scientific names are suggested using the <a href="https://www.gbif.org/developer/species">GBIF Species API</a>.</p>

<p>Please check carefully before accepting a suggested match from GBIF &ndash; they are not always correct. Ambiguous or paraphyletic descriptions should be corrected to the name of the taxon with the lowest valid rank that unambiguously includes it, without any additional markers such as "sp." or "spp.". For example:</p>

<ul>
  <li>"Triticum sp. + Hordeum sp." &rarr; <i>Triticeae</i></li>
  <li>"cereal" &rarr; <i>Poaceae</i></li>
</ul>

<p>Common names should be corrected to scientific names, and additional information not relating to taxonomy should be removed. For example:</p>
<ul>
  <li>"human coprolite" &rarr; <i>Homo sapiens</i></li>
  <li>"corn cob" &rarr; <i>Zea mays</i>
</ul>

