<% content_for :title, "Browse data" %>
<% content_for :meta_description,
  "Browse and download #{@total_count} chronometric records from XRONOS, including radiocarbon dates, typological classifications, and dendrochronological dates. Filter by countries, specific archaeological site(s), site types, sample materials, sample taxa, radiocarbon laboratories, or laboratory IDs." %>

<div class="px-1 py-2 border-bottom shadow-sm">
  <%= render "toolbar" %>
</div>

<div class="flex-grow-1 d-flex">

  <aside id="dataFilters" class="collapse collapse-horizontal show bg-light">
    <%= render "filters" %>
  </aside>

  <div class="flex-grow-1 tab-content">
    <div class="tab-pane show active w-100 h-100" id="dataMap" role="tabpanel" aria-labelledby="dataMapTab" tabindex="0">
      <%= render "map" %>
    </div>
    <div class="tab-pane p-3" id="dataTable" role="tabpanel" aria-labelledby="dataTableTab" tabindex="0">
      <%= render "table" %>
    </div>
  </div>

  </div>
</div>
