<aside class="bg-light border-end shadow-sm">
  <header class="d-flex align-items-center p-2">
    <h2 id="dataFiltersLabel" class="dataFiltersCollapse flex-grow-1 m-0 ms-2 h5 collapse collapse-horizontal show">
      Filters
    </h2>
    <button class="btn btn-light shadow-none text-muted" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target=".dataFiltersCollapse"
            aria-expanded="true" 
            aria-controls="dataFilters dataFiltersLabel">
      <%= fa_icon "caret-left" %>
      <%= fa_icon "caret-right" %>
    </button>
  </header>
  <div id="dataFilters" class="dataFiltersCollapse collapse collapse-horizontal show m-3">
    <%= render "filters" %>
  </div>
</aside>
