<table id="selected_measurements-datatable" class="compact row-border hover" data-source="<%= root_path(format: :json) %>" style="width: 100%">
	<thead>
		<tr>
			<th></th>
			<th>labnr</th>
			<th>bp</th>
			<th>std</th>
			<th>cal_bp</th>
			<th>cal_std</th>
			<th>site</th>
			<th>period</th>
			<th>material</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
