<div class="row m-3">

  <div class="col">
    <div class="col">
      <div style="z-index: -1">
                <button class="btn btn-light mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterDataOffcanvas" aria-controls="filterDataOffcanvas" id="button_filter_data_table">
  <%= fa_icon "search" %>Show data filter</button>
        <small>
          <table id="selected_measurements-datatable" class="table table-striped table-sm" data-source="<%= table_path(format: :json) %>" style="width: 100%">
            <thead>
              <tr>
		        <th class="select-checkbox"><input id="selectAll" type="checkbox"></th>
                <th>labnr</th>
                <th>bp</th>
                <th>std</th>
                <th>cal_bp</th>
                <th>cal_std</th>
                <th>site</th>
                <th>period</th>
                <th>material</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </div>
        </small>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="filterDataOffcanvas" aria-labelledby="offcanvasScrollingLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
              Filter Data
            </h5>
            <div class="clearfix">
              <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="offcanvas" data-bs-target="#filterDataOffcanvas" aria-controls="filterDataOffcanvas" id="button_close_filter_data"></button>
            </div>
          </div>
          <!-- #### Filter #### -->
          <%= render "filter" %>
        </div>
    </div>
  </div>
</div>



