<table id="selected_measurements-datatable" class="compact row-border hover" data-source="<%= root_path(format: :json) %>" style="width: 100%">
	<thead>
		<tr>
			<th></th>
			<th>labnr</th>
			<th>bp</th>
			<th>std</th>
			<th>cal_bp</th>
			<th>cal_std</th>
			<th>delta_c13</th>
			<th>lab_name</th>
			<th>site</th>
			<th>site_phase</th>
      <th>site_type</th>
      <th>feature</th>
			<th>feature_type</th>
			<th>period</th>
			<th>typochronological_unit</th>
			<th>ecochronological_unit</th>
			<th>material</th>
			<th>species</th>
			<th>country</th>
			<th>lat</th>
			<th>lng</th>
			<th>short_ref</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
