<%= bootstrap_form_with(model: [@site, @site_name], local: true) do |f| %>
  <div class="input-group">
    <%= render "fields", f: f %>
    <%= f.button confirm_icon, class: "btn btn-primary btn-sm" %>
    <%= f.button cancel_icon, type: "reset", class: "btn btn-outline-primary btn-sm" %>
  </div>
<% end %>
