<div class="container my-5">

  <h1>Typological dates</h1>

  <%= render "table", typos: @typos %>

  <%== pagy_bootstrap_nav(@pagy) %>

  <% if can? :create, Typo %>
    <%= link_to 'New typological date', new_typo_path, class: 'btn btn-secondary',
      data: { "turbo_frame": "remote_modal" } %>
  <% end %>
</div>
