<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Measurement</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lab.-Nr.</th>
      <td><%= measurement.labnr%></td>
    </tr>
    <tr>
      <td>Laboratory Name</th>
      <td><%=measurement.lab.name%></td>
    </tr>
  </tbody>
</table>
