<% content_for :head do %>
  <%= javascript_include_tag 'map' %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="container my-3">
  <%= render "measurement", measurement: @measurement%>
</div>
