<p>This table sites in XRONOS that are not currently matched to the country code. Matching country codes are suggested using the <a href="https://nominatim.org">Nominatim Open-source geocoding with OpenStreetMap data</a>.</p>

<p>Please check carefully before accepting a suggested match from Nominatim &ndash; they are not always correct.</p>