<p>
  This table lists sites in XRONOS that have not been explicitly recorded as within a country.
  If valid coordinates are present, the country is suggested using a geocoding service provided by <a href="https://nominatim.org">Nominatim</a>, which is based on <a href="https://www.openstreetmap.org">OpenStreetMap</a> data.
  Please verify this suggestion before accepting it; the coordinates or geocoding may not be correct.
</p>

<p>
  Otherwise, you can edit the record to specify the country manually.
</p>
