<div class="container">

  <h1>Measurement states</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @measurement_states.each do |measurement_state| %>
        <tr>
          <td><%= link_to measurement_state.name, measurement_state %></td>
          <td><%= render 'shared/action_buttons_compact', i: measurement_state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New measurement state', new_measurement_state_path, class: 'btn btn-secondary' %>
</div>
