<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @measurement_state %>

  <p>
  <strong>Name:</strong>
  <%= @measurement_state.name %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= @measurement_state.description %>
  </p>

  <%= render 'shared/action_buttons', i: @measurement_state %>
</div>
