<% disabled ||= false  
#We do this so if disabled is not passed to the partial it doesn't crash. 
# We default it to false 
%>

  <div class='nested-fields'>
<div class='card'>
  <div class="card-header">
    <%= f.label :reference %>
  </div>

    <div class="card-body">
      <%= render  'references/reference_fields', f: f, disabled: disabled %>
      <% unless disabled %>
        <%= fa_icon "minus" %> <%= link_to_remove_association "remove reference", f %>
      <%end%>
    </div>
  </div>

</div>


