<% disabled ||= false  
#We do this so if disabled is not passed to the partial it doesn't crash. 
# We default it to false 
%>

<div class="row">

    <div class="form-group col-md-6">
      <%= f.label :short_ref, class: "form-label" %>
      <%= f.text_field :short_ref, class: "form-control", disabled: disabled %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :bibtex, class: "form-label" %>
      <%= f.text_area :bibtex, class: "form-control", disabled: disabled %>
    </div>

</div>

