<div class="field_master_top">
  <b>Editing Reference</b>
</div>

<div class="field_master">
  <%= render 'form', reference: @reference %>
</div>

<%= link_to 'Show', @reference %> |
<%= link_to 'Back', references_path %>
