<div class="container">
  <%# render 'shared/action_breadcrumbs', i: @reference %>
  <%= render 'shared/notice' %>

  <p>
  <strong>Short Reference:</strong>
  <%= @reference.short_ref %>
  </p>

  <p>
  <strong>Bibtex:</strong>
  <%= @reference.bibtex %>
  </p>

  <%= render 'shared/action_buttons', i: @reference %>
</div>
