<figure>
  <blockquote class="blockquote text-muted"><%= wikipedia_extract.text %></blockquote>
  <figcaption class="blockquote-footer">
    from <a href="<%= wikipedia_extract.url %>" target="_blank">Wikipedia</a>, the free encyclopaedia
  </figcaption>
</figure>
