<figure>
  <blockquote class="blockquote"><%= wikipedia_extract.text %></blockquote>
  <figcaption class="blockquote-footer">
    From <a href="<%= wikipedia_extract.url %>" target="_blank">Wikipedia</a>, the free encyclopaedia
  </figcaption>
</figure>
