<div class="field_master">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :abbreviation %>
    <%= f.text_field :abbreviation %>
  </div>

</div>
