<div class="container">

  <h1>Countries</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @countries.each do |country| %>
        <tr>
          <td><%= link_to country.name, country %></td>
          <td><%= render 'shared/action_buttons_compact', i: country %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New country', new_country_path, class: 'btn btn-secondary' %>
</div>
