<div class="nested-fields card mb-3">

  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">New fell phase</h5>
    <%=
      link_to_remove_association(f, class: 'btn btn-danger btn-sm') do
        fa_icon 'minus', title: 'Remove fell phase'
      end
    %>
  </div>

  <div class="card-body row">
    <%= render 'fell_phases/fell_phase_fields', f: f %>
  </div>

</div>

