<div class='nested-fields'>

  <div class="field_master_top">
    <b><%= f.label :fell_phase %></b>
  </div>

  <%= render  'fell_phases/fell_phase_fields', f: f %>

  <%= fa_icon "minus" %> <%= link_to_remove_association "remove fell_phase", f %>

  <hr>

</div>
