<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @on_site_object_position %>
  <h1>New on-site object position</h1>

  <%= render 'form', on_site_object_position: @on_site_object_position %>
</div>
