<div class="container">
  <h1>New on-site object position</h1>

  <%= render 'form', on_site_object_position: @on_site_object_position %>

  <%= link_to 'Back', on_site_object_positions_path %>
</div>
