/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree is turned off, so @import application-wide stylesheets below.
 * require_tree .
 *= require_self
 *= require leaflet
 *= require leaflet.markercluster
 *= require font-awesome
 *= require jquery-ui
 *= require ion.rangeSlider.css
*/

$primary:    #424242;
$secondary:  #1768ac;
$success:    #496f5d;
$info:       #7CDEDC;
$warning:    #FFEC51;
$danger:     #A44A3F;

$font-family-sans-serif:
	Inter,
	Helvetica Neue, 
	Helvetica, 
	Nimbus Sans,
	FreeSans,
	Arial, 
	Arimo,
	Liberation Sans,
	sans-serif;

$headings-font-family: "Raleway", $font-family-sans-serif;

// Bootstrap
@import "bootstrap";
@import "buttons.bootstrap5.min.css";
@import "select.bootstrap5.min.css";

// Other gems
@import "dataTables.bootstrap5.min.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

// Application 
@import "frontend";
@import "layout";
