// stop page overflowing on mobile
@media (max-width: 768px) {
	html, 
	body {
		width: auto !important;
		overflow-x: hidden !important;
	}
}

// front page hero
div.hero {
	color: white;
	background-image: url("./hero_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40vh;
}


div.hero_caption {
	position: absolute;
	bottom: 5px;
	right: 0px;
	font-style: italic
}

span.hero_caption {
	padding: 5px;
}

span.hero_caption:hover {
	background-color: rgba(0, 0, 0, 0.4);
}


.blockquote {
    font-size: 1rem;
	font-color: "red";
}