// ensure footer is always below view height
body {
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

// front page hero
div.hero {
	color: white;
	background-image: url("./hero_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40vh;
}


div.hero_caption {
	position: absolute;
	bottom: 5px;
	right: 0px;
	font-style: italic
}

span.hero_caption {
	padding: 5px;
}

span.hero_caption:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

