.noUi-connect {
	background: $primary !important;
}

/* Compensate for absolute-positioned pips */
.has-slider::after {
	content: "";
	display: block;
	height: 30px;
}

/* Only show tooltips when sliding handles */
.noUi-tooltip {
	display: none !important;
}
.noUi-active .noUi-tooltip {
	display: block !important;
}

/* Nudge outer labels back inside parent box */
.noUi-rtl .noUi-value-horizontal:nth-child(2) {
	transform: translate(50%, 50%);
}
.noUi-rtl .noUi-value-horizontal:last-child {
	transform: translate(90%, 50%);
}
