<div class="container">

  <h1>Materials</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @materials.each do |material| %>
        <tr>
          <td><%= link_to material.name, material %></td>
          <td><%= render 'shared/action_buttons_compact', i: material %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New material', new_material_path, class: 'btn btn-secondary' %>
</div>
