<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @material %>

  <p>
    <strong>Name:</strong> <%= @material.name %>
  </p>

  <%= render 'shared/action_buttons', i: @material %>
</div>
