<div class="d-flex flex-column-reverse flex-lg-row gap-4">
  <div class="col-12" style="flex: 7 1 0;">
    <div class="placeholder-glow">
      <span class="placeholder col-12"></span>
      <span class="placeholder col-10"></span>
      <span class="placeholder col-8"></span>
    </div>
  </div>
  <div class="col-12" style="flex: 5 1 0;">
    <div class="placeholder-glow" style="aspect-ratio: 4 / 3; border-radius: 0.25rem;">
      <span class="placeholder col-12 h-100"></span>
    </div>
  </div>
</div>
