<%= turbo_frame_tag dom_id(site, :description) do %>
  <div id="site-description-content">
    <% excerpt = description.data[:wikipedia_extract_text] %>
    <% images = description.data[:images] %>

    <% if excerpt.blank? && images.empty? %>
      <p class="text-muted mb-0">No description is available for this site on Wikipedia.</p>
    <% else %>
      <div class="d-flex flex-column-reverse flex-lg-row gap-4">
        <% if excerpt.present? %>
          <div class="col-12" style="flex: 7 1 0;">
            <%= render "sites/descriptions/excerpt", description: description %>
          </div>
        <% end %>

        <% if images.any? %>
          <div class="col-12" style="flex: 5 1 0;">
            <%= render "sites/descriptions/image_grid",
                  images: images,
                  commons_category_url: description.data[:commons_category_url],
                  commons_category_title: description.data[:commons_category_title] %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
