<div id="site-external-links-content">
  <% if site.linked_resources.any? %>
    <ul class="list-unstyled mb-0">
      <% site.linked_resources.each do |linked_resource| %>
        <li class="py-2">
          <%= turbo_frame_tag linked_resource, src: linked_resource %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There is no linked data available for this record.</p>
    <% if can? :manage, LinkedResource %>
      <ul class="list-unstyled">
        <li>
          <%= link_to "Add Wikidata link",
                      new_linked_resource_path(linked_resource: { linkable_type: "Site", linkable_id: site }),
                      data: { turbo_frame: "remote_modal" },
                      class: "text-primary" %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
