<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Site</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Site Name</th>
      <td><%= site.name%></td>
    </tr>
    <tr>
      <td>Longitude</th>
      <td><%= site.lng%></td>
    </tr>
    <tr>
      <td>Latitude</th>
      <td><%= site.lat%></td>
    </tr>
    <tr>
      <td>Country</th>
      <td><%= site.country.name if site.country.present?%></td>
    </tr>
  </tbody>
</table>
