<span class="text-muted">
  <% case event %>
  <% when "create" %>
    <%= fa_icon "plus-square" %><span class="visually-hidden">Created</span>
  <% when "update" %>
    <%= fa_icon "pencil-square" %><span class="visually-hidden">Modified</span>
  <% end %>
</span>
