<span class="text-muted">
  <% case event %>
  <% when "create" %>
    <%= fa_icon "plus-circle", title: "Create" %>
  <% when "update" %>
    <%= fa_icon "pencil", title: "Update" %>
  <% end %>
</span>
