<% content_for :title, "Recent changes" %>
<% content_for :help do %>
  <p>This page lists recent changes to all records in XRONOS.</p>
<% end %>

<h2>Recent changes</h2>

<%= render "application/paper_trail/version_table", versions: @versions %>

<%== pagy_bootstrap_nav(@pagy) %>
