<% content_for :content do %>
  <div class="container my-3">
    <nav aria-label="breadcrumb">
      <%= breadcrumbs.render(format: :bootstrap) %>
    </nav>

    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
