<% content_for :top do %>
  <div class="d-flex flex-column min-vh-100">
<% end %>

<% content_for :before_footer do %>
  </div>
<% end %>

<% content_for :content do %>
  <div class="container-fluid">
    <div class="row">

      <nav class="col p-3 bg-light" id="curate-nav">
        <%= render "curate/curate_nav" %>
      </nav>

      <div class="col col-8 p-3" id="curate-content">
        <%= yield %>
      </div>

      <% if content_for? :help %>
        <aside class="col p-3 pt-5 bg-light text-muted small" id="curate-help">
          <%= yield :help %>
        </aside>
      <% end %>

    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
