<% content_for :top do %>
<div class="d-flex flex-column min-vh-100">
<% end %>

<% content_for :before_footer do %>
</div>
<% end %>

<% content_for :content do %>
  <div class="flex-grow-1 d-flex flex-column overflow-auto">
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
